language: node_js
node_js:
- "10"
cache: npm
jobs:
  include:
  - stage: test
    script:
    - cd app/
    - npm install
    - npm run test:coverage:ci
  - stage: deploy_qa
    script:
    - cd app/
    - npm install
    - npm install -g firebase-tools
    - npm run build_qa
    - firebase use --token $FIREBASE_TOKEN qa
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN
    on:
      branch: develop
  - stage: deploy_prod
      script:
      - cd app/
      - npm install
      - npm install -g firebase-tools
      - npm run build_prod
      - firebase use --token $FIREBASE_TOKEN production
      - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN
      on:
        branch: master
stages:
- name: test
  if: type = push
- name: deploy_qa
- name: deploy_production