language: node_js
node_js:
- "10"
cache: npm
jobs:
  include:
  - stage: test
    if: type = pull_request
    script:
    - cd app/
    - npm install
    - npm run test:coverage:ci
    - cd ../functions/
    - npm install
    - npm run unit-tests
    - npm run integration-tests
    - cd ../
    - npm run start-frontend
    - npm run start-functions
    - npm run e2e-test
  - stage: deploy_qa
    if: branch = dev
    script:
    - cd app/
    - npm install -g firebase-tools
    - npm i
    - npm run build_qa
    - firebase use --token $FIREBASE_TOKEN qa
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN
    - cd ../functions/
    - npm i
    - npm run deploy
  - stage: deploy_prod
      if: branch = master
      script:
      - cd app/
      - npm install -g firebase-tools
      - npm run build_prod
      - firebase use --token $FIREBASE_TOKEN production
      - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN
      - cd ../functions/
      - npm i
      - npm run deploy
