language: node_js
node_js:
- "10"
cache: npm
jobs:
  include:
  - stage: test
    script:
    - cd app/
    - npm install
    - npm run test:coverage:ci
    - cd ../functions/
    - npm install
    - npm run unit-tests
    - npm run integration-tests
    if: type = pull_request
  - stage: deploy_qa
    script:
    - cd app/
    - npm install -g firebase-tools
    - npm i
    - npm run build_qa
    - firebase use --token $FIREBASE_TOKEN qa
    - firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_TOKEN
    - cd ../functions/
    - npm i
    - npm run deploy
    if: (branch = develop) AND (NOT (type IN (push, pull_request)))
